html {
  font-size: 10px;
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: cover; */
  background-color: #9e926a;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
  background-size: 70px 120px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.keys {
  display: flex;
  height: 100vh;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.key {
  flex-basis: 30%;
  box-sizing: border-box;
  cursor: pointer;
  border: .4rem solid black;
  border-radius: .5rem;
  margin: .5rem 0;
  font-size: 1.5rem;
  /* padding: 1rem .5rem; */
  transition: all .07s ease;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.key:hover {
  background: gray;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}